In [1]:
print("Good + Morninng")

Good + Morninng

In [5]:
print("Python" + " Technology")

Python Technology

In [3]:
print("Python " + 3.5)

TypeError: can only concatenate str (not "float") to str

In [4]:
print("Python " + "3.5")

Python 3.5

In [6]:
print("12"+"34")

1234

In [8]:
print("Good " * 5)

Good Good Good Good Good

In [12]:
print(5 * " Good")

 Good Good Good Good Good

In [13]:
print("Good"*"5")

TypeError: can't multiply sequence by non-int of type 'str'

In [14]:
print("Good " * 5.0)

TypeError: can't multiply sequence by non-int of type 'float'

In [15]:
str = "Python is Easy!!!!"

In [16]:
print(str)

Python is Easy!!!!

In [17]:
print(str[0])

P

In [28]:
print(str[-1])

!

In [29]:
print(str[:5])

Pytho

In [30]:
print(str[3:9])

hon is

In [31]:
print(str[4:])

on is Easy!!!!

In [32]:
print("What's Is your name?")

What Is your name?

In [38]:
print('What\'s Is your name?')      #"\" is Escape Sequence

What's Is your name?

In [41]:
print("the boy replies \n\"My name is Aditya\"")

the boy replies
"My name is Aditya"

In [42]:
print("the boy replies \t\"My name is Aditya\"")

the boy replies 	"My name is Aditya"

In [44]:
print("the boy replies \ My name is Aditya")

the boy replies \ My name is Aditya

In [45]:
print("\\")

\

In [47]:
print("\'")

'

In [48]:
print("\"")

"

In [49]:
print("Hello \n World")

Hello
 World

In [50]:
print("Hello \t World")

Hello 	 World

In [56]:
print("\056")

.

In [52]:
print("\x2E")

.

In [55]:
print("\x87")

Â‡

# Number System Conversion

In [58]:
print(oct(51))

0o63

In [59]:
print(int("11011",2))

27

In [60]:
print(int("360",8))

240

In [61]:
print(hex(51))

0x33

In [62]:
print(int("33",16))

51

# Betwise Operator

In [63]:
x=10
y=4

print(x|y)     #OR

14

In [64]:
print(x&y)     #AND

0

In [65]:
print(~x)
print(~y)      #NOt

-11
-5

In [66]:
print(x^y)       #XOR

14

In [67]:
print(x>>2)      #Right Shiht

2

In [69]:
print(x<<3)        #Left Shift

80

# Idendity Operator
is 

is not

In [70]:
x = [1,2]
y = [1,2]

In [71]:
print("x is y",x is y)

x is y False

In [73]:
z=x
print(x is z)

True

In [74]:
x1 = 5
y1 = 5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]

In [76]:
print(x1 is not y1)

False

In [77]:
print(x2 is y2)

True

In [78]:
print(x3 is y3)

False


# Membership Operator

in 

not in

In [93]:
message = "HELLO WORLD"
dict ={1:'a',2:'b'}

In [94]:
#check if H is present in message string

print("H" in message)

True

In [95]:
#check if HELLO is present in message string

print("HELLO" in message)

True

In [96]:
#check if HELLO is present in message string

print("HELLO" not in message)

False

In [97]:
print(1 in dict)

True

In [101]:
print('a' in dict)

False
False

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\DC\AppData\Local\Temp\ipykernel_15428\1410418738.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('a' is dict)

In [103]:
# Ternary Operator
#SYntax ==>  [on true] if exprassion else [on false]

a,b= 10,20

min = a if a<b else b
print(min)

10

In [106]:
x = 5

result = "Positive" if x>0 else "Negative"
print(result)

Positive

In [107]:
x = -5

result = "Positive" if x>0 else "Negative"
print(result)

Negative

# Precedence And Associavity Operator

In [108]:
#HW 
#construct an If else block which runs if when lunch either fruit or sandwich and only if money >= 2

In [109]:
print(10+20*30)

610

In [111]:
print((40+20)*30/10)

180.0

In [112]:
print(40+(20*30)/10)

100.0

In [114]:
print(False == False or True)

True

In [115]:
False == (False or True)

False

In [116]:
print(100/10*10)

100.0