In [6]:
name = input("what is your name==>")
age  = input("Enter your age==>")

print("My name is "+name+ " My age is "+age)

what is your name==>Harsh
Enter your age==>21
My name is Harsh  My age is 21

In [7]:
#Write a program to enter a number and display its hex , octal ahd squre root
import math as m

n = int(input("Enter a number==>"))
print("Number == ",n)
print("Hexadecimal of number is == ",hex(n))
print("Octal of a numer is == ",oct(n))
print("Square root o fnumber is == ",m.sqrt(n))

Enter a number==>16
Number ==  16
Hexadecimal of number is ==  0x10
Octal of a numer is ==  0o20
Square root o fnumber is ==  4.0

In [11]:
#Write a program to calculate area of a triangle using heron's formula

a = float(input("Enter length of a ==> "))
b = float(input("Enter length of b ==> "))
c = float(input("Enter length of c ==> "))
s=(a+b+c)/2
Area = m.sqrt(s*(s-a)*(s-b)*(s-c))

print("Area Of Triangle ==> ",Area)

Enter length of a ==> 3
Enter length of b ==> 4
Enter length of c ==> 5
Area Of Triangle ==>  6.0

In [14]:
#Write a program to calculate distance between two point
x1 = float(input("Enter co ordinate x1 ==> "))
x2 = float(input("Enter co ordinate x2 ==> "))
y1 = float(input("Enter co ordinate y1 ==> "))
y2 = float(input("Enter co ordinate y2 ==> "))

d=m.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2))
print("Distance between (",x1,",",y1,") and (",x2,",",y2,") is ==>",d)

Enter co ordinate x1 ==> 1
Enter co ordinate x2 ==> 2
Enter co ordinate y1 ==> 3
Enter co ordinate y2 ==> 4
Distance between ( 1.0 , 3.0 ) and ( 2.0 , 4.0 ) is ==> 1.4142135623730951

In [21]:
#WAP to perform addition substraction , multiplicatuion and divivsion of two floating point number 

a=float(input("Enter a ==>"))
b=float(input("Enter b ==>"))
c = input("Enter + ,-,*,/ ==> ")
ans = float(0)
match(c):
    case '+' : ans = a + b
        
    case "-" : ans = a -b
        
    case "*" : ans = a *b
        
    case "/" : ans = a /b
        
        
print("Answer =",ans)

Enter a ==>5.5
Enter b ==>6.8
Enter + ,-,*,/ ==> *
Answer = 37.4

In [35]:
#WAP to calculate the bill amount including discount total
q =int(input("Enter quantity of an item == "))
p =int(input("Enter price of single unit == "))
d =int(input("Enter discount percentage == "))
dt =(q*p) + (q*p)*(d/100)
tax=(dt*0.18)
print("\n\n\n\n")
print(format("BILL","*^30"))
print(format("Quantaty Sold:",' <30'),q)
print(format("Price per item:",' <30'),p)
print("--------------------------------")
print(format("Amount:",' <30'),q*p)
print(format("Discount                 :",' <30'),d,"%")
print("--------------------------------")
print(format("Discount Total           :",' <30'),round(dt,2))
print(format("Tax                      :"," <30"),round(tax,2))
print("--------------------------------")
print(format("Total amount to be paid  :",' <30'),round(tax+dt,2))

Enter quantity of an item == 123
Enter price of single unit == 256
Enter discount percentage == 6





*************BILL*************
Quantaty Sold:                 123
Price per item:                256
--------------------------------
Amount:                        31488
Discount                 :     6 %
--------------------------------
Discount Total           :     33377.28
Tax                      :     6007.91
--------------------------------
Total amount to be paid  :     39385.19

In [44]:
# WAP to calculate students result based on two examination , 1 sport event and 3 activities conducted. 
# weightage of activities is 30% , sport 20% and examination is 50%

se  = int(input("Enter marks of sports event out of 100 ==> "))
ac1 = int(input("Enter marks of activity 1 out of 100 ==> "))
ac2 = int(input("Enter marks of activity 2 out of 100 ==> "))
ac3 = int(input("Enter marks of activity 3 out of 100 ==> "))
ex1 = int(input("Enter marks of exam 1 out of 100 ==> "))
ex2 = int(input("Enter marks of exam 2 out of 100 ==> "))

total_marks = (se*0.2) + ((ac1+ ac2 + ac3)/3)*0.3 + ((ex1 + ex2)/2)*0.5

print("Total marks ==> ",total_marks)

Enter marks of sports event out of 100 ==> 56
Enter marks of activity 1 out of 100 ==> 98
Enter marks of activity 2 out of 100 ==> 87
Enter marks of activity 3 out of 100 ==> 56
Enter marks of exam 1 out of 100 ==> 58
Enter marks of exam 2 out of 100 ==> 78
Total marks ==>  69.3

In [45]:
# WAP to convert degree eferenhight to degree celcius

f=float(input("Enter temprature in farenheit ==> "))
c=(f-32)*(5/9)

print("Calcius ==> ",c)

Enter temprature in farenheit ==> 556.8
Calcius ==>  291.55555555555554

In [47]:
# WAP to calculate total amount of money in piggybank givan coins os rupees 10,5,2,1...

Rs1 = int(input("Enter no. of Rs1 coins ==> "))
Rs2 = int(input("Enter no. of Rs2 coins ==> "))
Rs5 = int(input("Enter no. of Rs5 coins ==> "))
Rs10 = int(input("Enter no. of Rs10 coins ==> "))


Total_Money = Rs1 + 2*Rs2 + 5*Rs5 + 10*Rs10
print("Total Money In Piggy Bank ==> ",Total_Money)

Enter no. of Rs1 coins ==> 6
Enter no. of Rs2 coins ==> 8
Enter no. of Rs5 coins ==> 9
Enter no. of Rs10 coins ==> 7
Total Money In Piggy Bank ==>  137